.submit {
  margin: 1em 0 0 0;
  color: #fff;
  border: 1px solid #9cb4d8;
  border-radius: 2px;
}

.desactive {
  background: #9cb4d8;
}

.active {
  background: #4267b2;
  cursor: pointer;
  transition-duration: .2s
}

.active:hover {
  background: #365899;
  transition-duration: .2s
}

