.item {
  padding: 0.8em;
  margin: 5px 0;
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  box-shadow: 0 0 10px #000;
  border-radius: 2px;
  background: #ffffff
}

.special {
  color: red
}